priority -40

# JSDoc snippet

snippet co "Copy right" b
/**
 * Copyright (c) `date +%Y` by nodeswork.com. All Rights Reserved.
 *
 * @author: ${2:`!v g:snips_author`}<${1:`!v g:snips_author_email`}>
 *
 * ${1:${VISUAL:A description of the file}}$0
 */
endsnippet

snippet strict "Use strict" b
"use strict";
endsnippet
